
@font-face {
    font-family: 'FontAwesome';
    src: url('/webagency_images/fonts/fontawesome-webfont.eot');
    src: url('/webagency_images/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('/webagency_images/fonts/fontawesome-webfont.woff') format('woff'),
        url('/webagency_images/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('/webagency_images/fonts/fontawesome-webfont.svg#fontwesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'fontawesome-webfont', Arial, Helvetica, sans-serif;
}

/*nav*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 82px;
    flex-wrap: wrap;
    position: sticky;
    top:0px;
    background-color: #fff;
    z-index: 10;

}

nav a {
    text-decoration: none;
    color: black;
}

#logo {
    margin-bottom: 10px;
    margin-top: 10px;
}

#menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#menu li {
    padding: 30px 10px;
}

#menu a {
    text-decoration: none;
    text-decoration-color: black;
}

#menu li:hover {
    border-top: 4px solid #3BAED7;
    cursor: pointer;
}

#menu a:hover {
    color: black;
}

/*header*/

#slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#slider figure {
    width: 200%;
    margin: 0;
    position: relative;
}

#slider figure img {
    float: left;
    width: 50%;
    height: auto;
}

#conteneur-fleche {
    width: 100%;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#conteneur-fleche .fleche i {
    background-color: rgba(0, 0, 0, 0.3);
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    cursor: pointer;
    color: white;
}

#flechegauche .fa-chevron-left{
    padding-right: 1px;
    text-align: left;
    position: absolute;
    left: 40px;
    background-color: grey;
    z-index: 2;
}
#flechedroite .fa-chevron-right{
    padding-left: 1px;
    text-align: right;
    position: absolute;
    right: 40px;
    background-color:grey;
    z-index: 2;
}

#presentation {
    width: 40%;
    position: absolute;
    left: 10%;
    top: 20%;
    color: white;
}

#webagency {
    color: #3BAED7;
}

#presentation h1 {
    font-size: 30px;
}

#presentation p {
    font-size: 16px;
}

#presentation p:last-child {
    background-color: #3BAED7;
    text-align: center;
    padding: 10px;
    width: 110px;
    border-radius: 3px;
    cursor: pointer;
}

/*Nos services*/
#services {
    min-height: 650px;
    display:flex;
    flex-direction:column;
}
.intro {
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.intro p {
    width: 60%;
    margin: auto;
}

h2 {
    font-size: 38px;
}

span.point-blue::before {
    left: 38%;
}
.point-blue::before .point-blue::after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
}
.point-blue::after{
    right: 38%;
}
.fa-circle{
    color: #1D8DB5;
}


/*Nos services img*/
#detailsServices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 85%;
}
#ordi{
    display: flex;
    top: 50%;
    height: 90%;
    
}
#infos {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.text {
    max-width: 600px;
    position: relative;
    left: 100px;
}

.text p {
    margin-left: 100px;
    text-align: justify;
    position: relative;
    left: -100px;
}

/*Nos services infos*/
#infos article{
    justify-content: center;
    flex-direction: row;
}

.icon {
    width: 60px;
    height: 35px;
    border-radius: 100px;
    text-align: center;
    padding-top: 25px;
    border: 1px solid lightgrey;
    position: absolute;
}
.fasfa-chart-pie{
    width: 50px;
    height: 50px;
}
.icon .fasfa-circle{
    left: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 50px;
    background-color:#5cadd3;
}


/* Section: nos projets */
#projets{
    text-align: center;
    background-color: #eeeded55;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
#projets h2{
    padding-top: 20px;
}

#point hr{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background:#1D8DB5;
    justify-items: center;
    position: absolute;
    left:50%;
}
#projets p {
    width: 60%;
    margin: auto;
}

#projets #navi {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
    padding: 0;
    width: auto;
}
#navi li {
    display: list-item;
    padding: 15px;
    margin: 10px 0px;
    background-color: #d8d8d8;
}
#navi li:hover{
    background-color: #5cadd3;
    color:#fff;
    border-bottom-color: #000000;
    border-bottom: 35px;
}

#navi li:first-child{
    border-radius: 4px 0 0 4px;

}
#navi li:last-child{
    border-radius: 0 4px 4px 0;
}


/*Images nos projets */
#figures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
#figures figure{
    flex-flow: column;
    max-width: 250px;
    position: relative;
    overflow: hidden;
    
}
#figures figure img{
    max-width: 250px;
    max-height: 180px;
    height: 100%;
    width:100%;
    position: relative;
    
}
#figures figcaption{
    display: block;
    max-width: 250px;
    background-color: #3f7994;
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 4px;
    visibility: hidden;
    box-sizing: border-box;
}



/*Formulaire Contact*/
#contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

}
#contact iframe{
    width: 100%;
    height: 500px;
    background: rgba(221, 222, 226, 0.294);
    z-index: 3;
}
.formulaire{
    background-color: rgba(241, 241, 241, 0.835);
    height: 450px;
    width: 350px;
    display: flex;
    position: absolute;
    left: 70%;
    padding-left:15px;
    overflow: hidden;
    z-index: 10;
    align-items: stretch;
    flex-wrap: wrap;
}
.formulaire  h2{
    font-size: 20px;
}
.formulaire  h5{
    font-size: 15px;
}
.formulaire {
    justify-content: right;
    width: 90%;
    padding: 0 0px 10px 2px;
}
.formulaire {
    border: none;
}

input{
    display: block;
    height:auto;
    width:100%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    color: grey;
    margin: 5px;
} 
textarea{
    display: block;
    height: auto;
    width: 100%;
    padding-bottom:50px;
    padding-top: 5px;
    padding-left: 5px;
    border:none;
    border-radius: 5px;
    color: grey;
    margin: 5px;
}
.btn{
    background-color: #1D8DB5;
    width: 150px;
    height: 40px;
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: left;
    align-self: flex-end;
    bottom: 10%;
    border-radius: 3px;
    justify-content: center;
}



/*Footer*/
footer{
    text-align: center;
    background-color: rgb(61, 61, 61);
    padding: 10px 0 10px 0;
    color: #fff;
    margin-top:0px;
}