/*Reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/webagency_images/fonts/fontawesome-webfont.eot');
    src: url('/webagency_images/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('/webagency_images/fonts/fontawesome-webfont.woff') format('woff'),
        url('/webagency_images/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('/webagency_images/fonts/fontawesome-webfont.svg#fontwesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'fontawesome-webfont', Arial, Helvetica, sans-serif;
    
}

/*nav*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 82px;
    flex-wrap: wrap;
    position: sticky;
    top:0px;
    background-color: #fff;
    z-index: 50;

}

nav a {
    text-decoration: none;
    color: black;
}

#logo {
    margin-bottom: 10px;
    margin-top: 10px;
}

#menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#menu li {
    padding: 30px 10px;
}

#menu a {
    text-decoration: none;
    text-decoration-color: black;
}

#menu li:hover {
    border-top: 4px solid #3BAED7;
    cursor: pointer;
}

#menu a:hover {
    color: black;
}

/*header*/

#slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#slider figure {
    width: 200%;
    margin: 0;
    position: relative;
}

#slider figure img {
    float: left;
    width: 50%;
    height: auto;
}

#conteneur-fleche {
    width: 100%;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#conteneur-fleche .fleche i {
    background-color: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 60px;
    line-height: 40px;
    
    cursor: pointer;
    color: white;
}

#flechegauche .fa-chevron-left{
    padding-right: 1px;
    text-align: right;
    position: absolute;
    left: -20px;
    background-color: grey;
    z-index: 2;
    padding-right: 8px;
}
#flechedroite .fa-chevron-right{
    padding-left: 1px;
    text-align: left;
    position: absolute;
    right: -20px;
    background-color:grey;
    z-index: 2;
    padding-left: 8px;
}

#presentation {
    width: 40%;
    position: absolute;
    left: 10%;
    top: 20%;
    color: white;
}

#webagency {
    color: #3BAED7;
}

#presentation h1 {
    font-size: 30px;
    margin: 10px 0;
}

#presentation p {
    font-size: 16px;
    margin: 10px 0;
}

#presentation button {
    background-color: #3BAED7;
    color: white;
    text-align: center;
    padding: 10px;
    width: 110px;
    border-radius: 3px;
    cursor: pointer;
    
    border-bottom: 0.3em ridge rgba(28, 109, 136, 0.253) ;
    
    
}

/*Nos services*/
#services {
    min-height: 650px;
    display:flex;
    flex-direction:column;
    margin-top: 10px;
}
.intro {
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.intro p {
    width: 60%;
    margin: 20px auto;
}

h2 {
    font-size: 38px;
}

.intro .line{
    border-top: 1px solid grey;
    width: 10%;
    margin-top: 1em;
    left: 45%;
    right: 60%;
    opacity: 1;
}
.fa-circle{
    color: #1D8DB5;
}
.intro .fa-circle{
    position: absolute;
    left: 50%;
    margin-top: -1.3em;
    justify-content: center;
}


/*Nos services img*/
#detailsServices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 85%;
}
#ordi{
    display: flex;
    top: 50%;
    height: 90%;
    
}
#infos {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.text {
    max-width: 600px;
    position: relative;
    left: 100px;
}

.text p {
    margin-left: 100px;
    text-align: justify;
    position: relative;
    left: -100px;
}

/*Nos services infos*/
#infos article{
    justify-content: center;
    flex-direction: row;
    margin: 20px auto;
}

.icon {
    width: 60px;
    height: 35px;
    border-radius: 100px;
    text-align: center;
    padding-top: 25px;
    border: 1px solid lightgrey;
    position: absolute;
}
.icon .fa-chart-bar{
    position: relative;
    font-size: 2em;
    color: #5cadd3;
    top: -0.3em;
    left: 0.2em;
}

.icon .fa-circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:#5cadd3;
    position: relative;
    left: 0.6em;
    bottom: 1em
}
.icon .fa-boxes{
    position: relative;
    font-size: 2em;
    color: #5cadd3;
    top: -0.3em;
    left: 0.2em;
}
.icon .fa-chart-pie{
    position: relative;
    font-size: 2em;
    color: #5cadd3;
    top: -0.3em;
    left: 0.2em;
}

/* Section: nos projets */
#projets{
    text-align: center;
    background-color: #eeeded55;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
#projets h2{
    padding-top: 20px;
}

#projets .line{
    border-top: 1px solid grey;
    width: 10%;
    position: absolute;
    left: 45%;
    right: 60%;
    opacity: 0.5;
}
#projets .fa-circle{
    
    position: absolute;
    justify-content: center;
}
#projets p{
    width: 60%;
    margin: auto;
    position: relative;
    justify-content: center;
    margin: 20px auto;
}

#projets #navi {
    position: relative;
    margin-top: 10px; 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px auto;
    padding: 0;
    width: auto;
    text-align: center;
}

#navi li {
    display: list-item;
    padding: 10px;
    margin: 10px 0px;
    background-color: #d8d8d8;
    max-height: 20px;
    width: 80px;
}
#navi li p{
    justify-content: center;
    margin-top: 15px;
    height: 20px;
    display: inline;
}
#navi li:hover{
    background-color: #5cadd3;
    color:#fff;
    border-bottom-color: #000000;
    border-bottom: 35px;
    max-height: 25px;
    height: 21px;
    width: 82px;
    border-bottom: 1em;
    border-bottom-color: #000000;
}

#navi li .fa-caret-down{
    color: #5cadd3;
    font-size: 2em;
    position: relative;
    top: 1em;
    right: 1em;
    opacity: 0;
}
#navi li:hover .fa-caret-down{
    color: #5cadd3;
    font-size: 2em;
    position: relative;
    top: -0em;
    right: 0.3em;
    opacity: 1;
}



#navi li:first-child{
    border-radius: 4px 0 0 4px;

}
#navi li:last-child{
    border-radius: 0 4px 4px 0;
}


/*Images nos projets */
#figures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 80%;
}
#figures figure{
    flex-flow: column;
    max-width: 250px;
    position: relative;
    overflow: hidden;
    margin: 1em;
    
}
#figures figure img{
    max-width: 250px;
    max-height: 180px;
    height: 100%;
    width:100%;
    position: relative;
    
    
}
#figures figcaption{
    max-width: 250px;
    background-color: #0000006c;
    color: #fff;
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 50px;
    bottom: 0px;
    box-sizing: border-box;
    text-align:left;
    opacity: 0;
    
}
#figures figure:hover figcaption{
    max-width: 250px;
    background-color: #0000006c;
    color: #fff;
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 50px;
    bottom: 0px;
    box-sizing: border-box;
    text-align:left;
    opacity: 1;
}
#figures figcaption .circle .fa-circle{
    font-size: 30px;
    position: absolute;
    z-index: 5;
    left: 84%;
    top: -29%;
}
#figures figcaption .circlefa .fa-circle{
    font-size: 33px;
    position: absolute;
    color: #fff;
    z-index: 4;
    left: 83.5%;
    top: -32.5%;
}
#figures figcaption .fa-eye{
    font-size: 15px;
    position: absolute;
    z-index: 6;
    left: 86.5%;
    top: -15%;
}



/*Formulaire Contact*/
#contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

}
#contact #titre{
    display: none;

}
#contact iframe:hover{
    background-color: #1D8DB5;
    position: relative;
    z-index: 9;
}
#contact iframe{
    width: 100%;
    height: 500px;
    background:#1D8DB5;
    position: relative;
    z-index: 3;
    
}
#contact .fondbleu{
    background-color:rgba(28, 109, 136, 0.253);
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 9;
}

.formulaire{
    background-color: rgba(241, 241, 241, 0.835);
    max-height: 450px;
    max-width: 350px;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 10;
    left: 70%;
    flex-direction: column;
}
.formulaire  h2{
    font-size: 20px;
    padding-left: 10px;
    margin: 0.5em 0;
}
.formulaire  h5{
    font-size: 15px;
    padding-left: 10px;
    margin: 0.1em 0;
}
.formulaire  p{
    font-size: 12px;
    padding-left: 10px;
    margin: 0.2em 0;
}



input{
    display: block;
    height:auto;
    width:90%;
    padding:5px 0 5px 5px;
    border: none;
    border-radius: 5px;
    color: grey;
    margin: 5px;
} 
textarea{
    display: block;
    height: auto;
    width: 90%;
    padding-bottom:50px;
    padding-top: 5px;
    padding-left: 5px;
    border:none;
    border-radius: 5px;
    color: grey;
    margin: 5px;
}
.btn{
    background-color: #1D8DB5;
    width: 150px;
    height: 40px;
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: left;
    margin-left: 5px;
    bottom: 10%;
    border-radius: 3px;
    border-bottom-color: rgb(28, 109, 136);
    
}

/*Footer*/
footer{
    text-align: center;
    background-color: rgb(61, 61, 61);
    padding: 10px 0 10px 0;
    color: #fff;
    margin-top:0px;
}

@media screen and (max-width: 1200px){
    /*Header*/
    header #fille{
        display:none;
    }
    header #garcon{
        display:none;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    /*Services*/
    #services{
        display: flex;
        flex-direction: column;
    }

    /*Contact*/
    #contact{
        display: flex;
        flex-direction: column;
    }
    .formulaire{
        position: relative;
        max-width: 1200px;
        width: 50%;
        height: 100%;
        left: 0em;
        display: flex;
        left: 25%;
        text-align: center;
    }
    .btn{
        position: relative;
        left: 35%;
    }
    iframe{
        position: absolute;
        display: flex;
    }
    .fondbleu{
        display: none;
    }
   .fondbleu:hover{
        display: none;
    }
    
}

@media  (max-width:768px){
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    #menu{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    #menu li{
        padding: 0.3em;
    }
    #menu ul{
        width: 50%;
        position: absolute;
        
    }
    .intro .fa-circle{
        margin-top: -3.3em;
    }
    #infos article{
        display: flex;
        flex-direction: column;
    }
    #figures{
        margin: none;
        width: 100%;
    }
    #figures figure{
        max-width: 50%;
    }
    #figures figure img{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }


}

