
@font-face {
    font-family: 'FontAwesome';
    src: url('/webagency_images/fonts/fontawesome-webfont.eot');
    src: url('/webagency_images/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('/webagency_images/fonts/fontawesome-webfont.woff') format('woff'),
        url('/webagency_images/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('/webagency_images/fonts/fontawesome-webfont.svg#fontwesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'fontawesome-webfont', Arial, Helvetica, sans-serif;
}

/*nav*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 82px;
    flex-wrap: wrap;
    position: sticky;
    top:0px;
    background-color: #fff;
    z-index: 10;

}

nav a {
    text-decoration: none;
    color: black;
}

#logo {
    margin-bottom: 10px;
    margin-top: 10px;
}

#menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#menu li {
    padding: 30px 10px;
}

#menu a {
    text-decoration: none;
    text-decoration-color: black;
}

#menu li:hover {
    border-top: 4px solid #3BAED7;
    cursor: pointer;
}

#menu a:hover {
    color: black;
}
@media screen and (max-width: 1024px){
    nav{
        display: flex;
        flex-direction: column;
    }
}
/*header*/

#slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#slider figure {
    width: 200%;
    margin: 0;
    position: relative;
}

#slider figure img {
    float: left;
    width: 50%;
    height: auto;
}

#conteneur-fleche {
    width: 100%;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#conteneur-fleche .fleche i {
    background-color: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 60px;
    line-height: 40px;
    
    cursor: pointer;
    color: white;
}

#flechegauche .fa-chevron-left{
    padding-right: 1px;
    text-align: right;
    position: absolute;
    left: -20px;
    background-color: grey;
    z-index: 2;
    padding-right: 8px;
}
#flechedroite .fa-chevron-right{
    padding-left: 1px;
    text-align: left;
    position: absolute;
    right: -20px;
    background-color:grey;
    z-index: 2;
    padding-left: 8px;
}

#presentation {
    width: 40%;
    position: absolute;
    left: 10%;
    top: 20%;
    color: white;
}

#webagency {
    color: #3BAED7;
}

#presentation h1 {
    font-size: 30px;
}

#presentation p {
    font-size: 16px;
}

#presentation p:last-child {
    background-color: #3BAED7;
    text-align: center;
    padding: 10px;
    width: 110px;
    border-radius: 3px;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    header #fille{
        display:none;
    }
    header #garcon{
        display:none;
    }
}
/*Nos services*/
#services {
    min-height: 650px;
    display:flex;
    flex-direction:column;
}
.intro {
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.intro p {
    width: 60%;
    margin: auto;
}

h2 {
    font-size: 38px;
}

span.point-blue::before {
    left: 38%;
}

.point-blue::before {
    left: 38%;
}
.point-blue::after{
    right: 38%;
}
.fa-circle{
    color: #1D8DB5;
}


/*Nos services img*/
#detailsServices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 85%;
}
#ordi{
    display: flex;
    top: 50%;
    height: 90%;
    
}
#infos {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.text {
    max-width: 600px;
    position: relative;
    left: 100px;
}

.text p {
    margin-left: 100px;
    text-align: justify;
    position: relative;
    left: -100px;
}

/*Nos services infos*/
#infos article{
    justify-content: center;
    flex-direction: row;
}

.icon {
    width: 60px;
    height: 35px;
    border-radius: 100px;
    text-align: center;
    padding-top: 25px;
    border: 1px solid lightgrey;
    position: absolute;
}
.fasfa-chart-pie{
    width: 50px;
    height: 50px;
}
.icon .fasfa-circle{
    left: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 50px;
    background-color:#5cadd3;
}
@media screen and (max-width: 1024px){
    #services{
        display: flex;
        flex-direction: column;
    }
}

/* Section: nos projets */
#projets{
    text-align: center;
    background-color: #eeeded55;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
#projets h2{
    padding-top: 20px;
}

#projets .line{
    border-top: 1px solid grey;
    width: 20%;
    position: absolute;
    left: 40%;
    right: 60%;
}
#projets .fa-circle{
    
    position: absolute;
    justify-content: center;
}
#projets p {
    width: 60%;
    margin: auto;
    position: relative;
    justify-content: center;
}

#projets #navi {
    position: relative;
    margin-top: 10px; 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
    padding: 0;
    width: auto;
}
#navi li {
    display: list-item;
    padding: 15px;
    margin: 10px 0px;
    background-color: #d8d8d8;
}
#navi li:hover{
    background-color: #5cadd3;
    color:#fff;
    border-bottom-color: #000000;
    border-bottom: 35px;
}

#navi li .fa-caret-down{
    color: #5cadd3;
    font-size: 2em;
    position: relative;
    top: 1em;
    right: 1em;
    opacity: 0;
}
#navi li:hover .fa-caret-down{
    color: #5cadd3;
    font-size: 2em;
    position: relative;
    top: 1em;
    right: 1em;
    opacity: 1;
}



#navi li:first-child{
    border-radius: 4px 0 0 4px;

}
#navi li:last-child{
    border-radius: 0 4px 4px 0;
}


/*Images nos projets */
#figures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
#figures figure{
    flex-flow: column;
    max-width: 250px;
    position: relative;
    overflow: hidden;
    
}
#figures figure img{
    max-width: 250px;
    max-height: 180px;
    height: 100%;
    width:100%;
    position: relative;
    
}
#figures figcaption{
    max-width: 250px;
    background-color: #0000006c;
    color: #fff;
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 50px;
    bottom: 0px;
    box-sizing: border-box;
    text-align:left;
    opacity: 0;
}
#figures figure:hover figcaption{
    max-width: 250px;
    background-color: #0000006c;
    color: #fff;
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 50px;
    bottom: 0px;
    box-sizing: border-box;
    text-align:left;
    opacity: 1;
}
#figures figcaption .circle .fa-circle{
    font-size: 30px;
    position: absolute;
    z-index: 5;
    left: 84%;
    top: -29%;
}
#figures figcaption .circlefa .fa-circle{
    font-size: 33px;
    position: absolute;
    color: #fff;
    z-index: 4;
    left: 83.5%;
    top: -32.5%;
}
#figures figcaption .fa-eye{
    font-size: 15px;
    position: absolute;
    z-index: 6;
    left: 86.5%;
    top: -15%;
}



/*Formulaire Contact*/
#contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
#contact #titre{
    display: none;

}
#contact iframe:hover{
    background-color: #1D8DB5;
    position: absolute;
    z-index: 99;
}
#contact iframe{
    width: 100%;
    height: 500px;
    background:#1D8DB5;
    position: relative;
    z-index: 3;
}
.formulaire{
    background-color: rgba(241, 241, 241, 0.835);
    max-height: 450px;
    max-width: 350px;
    width: 90%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 70%;
    padding: 0 0px 10px 2px;
    margin:0 20px 0 20px;
    overflow: hidden;
    z-index: 10;
    flex-direction: column;
    border: none;
}
.formulaire  h2{
    font-size: 20px;
    padding-left: 10px;
}
.formulaire  h5{
    font-size: 15px;
    padding-left: 10px;
}


input{
    display: block;
    height:auto;
    width:90%;
    padding:5px 0 5px 5px;
    border: none;
    border-radius: 5px;
    color: grey;
    margin: 5px;
} 
textarea{
    display: block;
    height: auto;
    width: 90%;
    padding-bottom:50px;
    padding-top: 5px;
    padding-left: 5px;
    border:none;
    border-radius: 5px;
    color: grey;
    margin: 5px;
}
.btn{
    background-color: #1D8DB5;
    width: 150px;
    height: 40px;
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: left;
    margin-left: 5px;
    bottom: 10%;
    border-radius: 3px;
}
@media screen and (max-width: 1024px){
    #contact{
        display: flex;
        flex-direction: column;
    }
    .formulaire{
        position: relative;
        max-width: 1024px;
        width: 100%;
        height: 100%;
        left: 0em;
        text-align: center;
    }
    .btn{
        position: relative;
    }
    iframe{
        position: absolute;
        display: flex;
    }
    
    
}
/*Footer*/
footer{
    text-align: center;
    background-color: rgb(61, 61, 61);
    padding: 10px 0 10px 0;
    color: #fff;
    margin-top:0px;
}
